body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.galeria {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
}

.card img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .overlay {
  opacity: 1;
}
.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: 30px auto;
}

.formulario input,
.formulario select,
.formulario button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.formulario button {
  background: black;
  color: white;
  cursor: pointer;
}
